@import 'variables';
.barman {
    background-image: url(../../img/5139493db68077463014ef9382820a92.jpg);
    background-position: center;
    background-size: contain;
    h2 {
        color: $color-logo;
        text-decoration: none;
        text-align: center;
        padding-top: 15px;
        font-family: $font-regular;
        font-size: 30px;
    }
    p {
        color: #fff;
    }
}

.gameBoard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .titleDrink {
        background-color: $color-background;
        border: 2px solid #fff;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    #dr2 {
        margin: 0 20px;
    }
    // svg {
    //     margin-top: 15px;
    //     align-self: center;
    // }
}

.svg {
    width: 400px;
    height: 450px;
    margin-top: 15px;
    background-image: url(../../img/shaker.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    .imgDrink {
        width: 400px;
    }
    .draggable.ingredient {
        width: 60px;
        height: 80px;
        align-self: center;
        border: none;
        width: 60px;
        height: 80px;
        img {
            width: 50px;
            height: 50px;
        }
        p {
            display: none;
        }
    }
}

.mainBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    p {
        width: 20vw;
        font-size: 18px;
        span {
            color: $color-main;
        }
    }
}

.allIngredients {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.ingredient {
    width: 95px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid $color-logo;
    border-radius: 5px;
    img {
        width: 70px;
        height: 70px;
        align-self: center;
    }
    p {
        align-self: center;
        text-align: center;
    }
}

.score {
    span {
        color: $color-main;
    }
    p {
        font-size: 24px;
        font-weight: 700;
    }
}

.scoreButton {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    button {
        height: 30px;
        width: 150px;
        border-radius: 10px;
        color: $color-main;
        background-color: $color-background;
        border: 2px solid $color-main;
        font-weight: 700;
    }
}

.checked {
    background-color: $color-logo;
}

.green {
    background-color: green
}

.red {
    background-color: red
}

.wrong {
    background-image: url('https://cdn.pixabay.com/photo/2016/09/07/10/37/kermit-1651325_960_720.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.imgDrink {
    border: 2px solid #fff;
    border-radius: 10px;
}