.footer {
    // height: 10vh;
    // display: flex;
    // justify-content: space-between;
    margin-bottom: 10px;
    color: #fff;
    .logo {
        font-size: 14px;
        h3 {
            margin-top: -5px;
        }
    }
    p {
        font-size: 10px;
        span {
            color: $color-main;
        }
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}

p.hol {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    margin: 15px auto 10px auto;
    text-align: center;
    a {
        color: $color-main;
        text-decoration: none;
    }
}

.prohibition {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid red;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    &::after {
        content: '';
        width: 5px;
        height: 60px;
        border: 5px soli red;
        position: relative;
    }
}

.infoProhibitions {
    justify-content: space-between;
    display: flex;
}

.prohibitions {
    width: 200px;
    display: flex;
    justify-content: space-between;
    div {
        font-size: 8px;
        text-align: center;
    }
    div:first-of-type {
        font-size: 20px;
    }
}