$font-title: 'Pacifico',
cursive;
$color-main: #F19FBF;
$color-logo: #9AD7F8;
$color-background: #070707;
$font-regular: 'Gugi',
cursive;
// font-family: 'Gugi', cursive;
// font-family: 'Lato', sans-serif;